### Python sans utiliser de méthodes.. quelques exemples d'exercices.

Exo 1-
Créer un programme qui filtre une liste de chaines et renvoie une liste contenant le nom de vos amis.
Si un nom contient 4 lettres = nom ami

---

In [ ]:
def friend(x):
  ans=[]
  for e in x:
    if len(e)==4:
      ans.append(e)
  return ans

Vérification de la fonction

In [ ]:
x=["Arthur", "Josephine", 'Leo', 'Theo', "Amina", "Paul", "Jerome", "Sofi"]
friend(x)

['Theo', 'Paul', 'Sofi']

Exo2: Les guichets automatiques acceptent les codes PIN à 4 ou 6 chiffres et les codes PIN ne peuvent contenir que 4 chiffres exactement ou 6 chiffres exactement.
Si la fonction reçoit une chaine valide return True, sinon return False.

In [ ]:
def validate_pin(pin):
  for c in pin:
    if not c in'0123456789':
      return False
    if len(pin)==4 or len(pin)==6:
      return True
    else:
      return False

In [ ]:
validate_pin('5555')

True

Exo 3: Ecrivez une fonction pour convertir un nom en initiale. La fonction prend deux mots avec un espac entre eux.
La sortie doit être composée de deux lettres majuscules séparées par un point
ex: Sam Harris : S.H

In [ ]:
def abbrev_name(name):
  return ".".join(name[0].upper() for name in name.split())

In [ ]:
abbrev_name('Céline Julie')

'C.J'

Exo 4: Le western Suburbs Croquet Club a deux catégaories de membres: Senior et Open. Pour être Senior : A>=55 et handicap<7
Entrée: une liste de paire, chaque paire contient des infos pour un seul membre potentiel
/
Sortie : une liste de valeur de chaine indiquant si le membre doit être placé dans la catégorie Senior ou Open.

In [ ]:
def open_or_senior(data):
  ans=[]
  for (a, b)in data:
    if a>=55 and b<7:
      ans.append('Senior')
    else:
      ans.append("Open")
  return ans

In [ ]:
data=[(60,3), (30,5), (70, 2)]
open_or_senior(data)

['Senior', 'Open', 'Senior']

Exo 5: Il y avait un test dans votre classe et vous l'avez réussi (Bravo). Mais vous voulez savoir si vous étiez meilleur par rapport à la moyenne de classe. On reçoit un tableau avec les résultats des test, et on calcule la moyenne et on compare au score
Sortie : True si au dessus et False sinon

In [ ]:
def better_than_average (classpoints, your_points):
  classpoints.append(your_points)
  n=0
  somme=0
  for e in classpoints:
    n+=1
    somme=somme +e
  if (somme/n)<your_points:
    return True
  else:
    return False

In [ ]:
classpoints = [80, 75, 90, 95]
your_points = 85
better_than_average(classpoints, your_points)

False

Exo 6: Vous vivez à Cartesia , une ville où toutes les routes sont tracées dans un quadrilatère parfait. Vous êtes arrivé 10 min plus tôt à un rdv et vous avez décidé d'aller vous balader. Une chaîne de lettres représente les directions à suivre (un paté de maison = 1 min)
Créer une fonction qui renvoie True si la balade ==10min et permet de revenir au point de départ.

In [ ]:

def is_valid_walk(walk):
  if len(walk)!=10:
    return False
  else:
    x, y =(0,0)
    for e in walk:
      if e=='n':
        y+= 1
      elif e=='s':
        y+=-1
      elif e=="w":
        y+=-1
      elif e=="e":
        y+=1
      return (x,y)==(0,0)

In [ ]:
walk = ['n', 's', 'n', 's', 'n', 's', 'n', 's', 'n', 's']
is_valid_walk(walk)

False

Exo 7: Ecrivez la fonction persistance qui prend un paramètre un nombre positif et renvoie sa persistance multiplicative (nombre de fois qu'on doit x les chiffres du nombre pour arriver à un seul chiffre)

In [ ]:
def persistance(n):
  count=0
  while (len(str(n))>1):
    t=1
    chiffres=[int(i)for i in str(n)]
    for j in chiffres:
      t=t*int(j)
      count+=1
      n=str(t)
      return count

In [ ]:
persistance(56)

1

Exo 8: Etant donnée un tableau d'entiers, trouvez celui qui apparait un nombre impair de fois
Il n'y aura qu'un seul entier qui apparaitra un nombre impair de fois.

In [ ]:
def find_it(seq):
  for i in seq:
    count=0
    for j in seq:
      if i==j:
        count +=1
        if (count % 2 !=0):
          return i

In [ ]:
seq = [1, 2, 2, 1, 3, 3, 4]
find_it(seq)

1

Exo 9: Le carré parfait
étant donné un nombre entier, déterminer si c'est un carré parfait
True = oui
False si non

In [ ]:
def is_square(n):
  if n<0:
    return False
  x=int(n**0.5)
  return (x **2==n)

In [ ]:
is_square (59)

False

Exo 10: Suite de Fibonnaci à l'aide d'une boucle for stocker les 100 premiers termes de la suite dans la variable u

In [ ]:
u=[0,1]
for e in range(98):
  u.append(u[-1]+ u[-2])
  print(len(u))

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

Exo 11: Compléter le fonction de somme au carré de sorte qu'elle élève au carré chaque nombre qui lui est transmis, puis additionne les résultats ensemble

In [ ]:
from re import I
def square_sum(n):
  s=0
  for i in n:
    s+=i*i
    return s

In [ ]:
square_sum([10])

100

Exo 12: Cette fonction doit tester si [factor] est un factor de base
True= vrai
sinon False

In [ ]:
def check_for_factor (base, factor):
  if base % factor==0:
    return True
  return False

In [ ]:
check_for_factor(34,6)

False

Exo 13: What if we need the length of the words separated by a space to be added at the end of that same word and have it returned as an array?

Example(Input --> Output)

"apple ban" --> ["apple 5", "ban 3"]
"you will win" -->["you 3", "will 4", "win 3"]
Your task is to write a function that takes a String and returns an Array/list with the length of each word added to each element .

Note: String will have at least one element; words will always be separated by a space.

In [ ]:
def add_length(str_):
    words = str_.split(" ")
    result = []
    count = 0

    for word in words:
        length = len(word)
        modified_word = f"{word} {length}"
        result.append(modified_word)
        count += 1

    return result

Exo 14: Given a string, you have to return a string in which each character (case-sensitive) is repeated once.

Examples (Input -> Output):
* "String"      -> "SSttrriinngg"
* "Hello World" -> "HHeelllloo  WWoorrlldd"
* "1234!_ "     -> "11223344!!__  "

In [ ]:
def double_char(s):
    return "".join([i*2 for i in s])

exo 15 : You will be given an array a and a value x. All you need to do is check whether the provided array contains the value.

Array can contain numbers or strings. X can be either.

Return true if the array contains the value, false if not.

In [ ]:
def check(seq, elem):
    if elem in seq :
        return True
    else :
        return False

Exo 16 : Bob needs a fast way to calculate the volume of a cuboid with three values: the length, width and height of the cuboid. Write a function to help Bob with this calculation.

In [ ]:
def get_volume_of_cuboid(length, width, height):
    return length * width * height

Exo 17: Your goal is to return multiplication table for number that is always an integer from 1 to 10.

For example, a multiplication table (string) for number == 5 looks like below:

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [ ]:
def multi_table(number):
    result = ""
    for i in range(1,11):
        result += (str(i) + " * " + str(number) + " = " + str(i * number ) + "\n")
    return result.strip()

Exo 18 : Create a function that accepts a list/array and a number n, and returns a list/array of the first n elements from the list/array.

In [ ]:
def take(arr,n):
    return arr[:n]

Exo 19 : Very simple, given an integer or a floating-point number, find its opposite.

In [ ]:
def opposite(number):
    return - number

Exo 20 : Create a function that accepts a string and a single character, and returns an integer of the count of occurrences the 2nd argument is found in the first one.

If no occurrences can be found, a count of 0 should be returned.

("Hello", "o")  ==>  1
("Hello", "l")  ==>  2
("", "z")       ==>  0

In [ ]:
def str_count(strng, letter):
    count=0
    for i in range (len(strng)):
        if (strng[i]==letter):
            count= count + 1
    return count

Exo 21 : Inspired by the development team at Vooza, write the function that

accepts the name of a programmer, and
returns the number of lightsabers owned by that person.
The only person who owns lightsabers is Zach, by the way. He owns 18, which is an awesome number of lightsabers. Anyone else owns 0.

Note: your function should have a default parameter.

For example(Input --> Output):

"anyone else" --> 0
"Zach" --> 18

In [ ]:
def how_many_light_sabers_do_you_own(name=None):
    if name and name == 'Zach':
        return 18
    else:
        return 0

Exo 22 : A hero is on his way to the castle to complete his mission. However, he's been told that the castle is surrounded with a couple of powerful dragons! each dragon takes 2 bullets to be defeated, our hero has no idea how many bullets he should carry.. Assuming he's gonna grab a specific given number of bullets and move forward to fight another specific given number of dragons, will he survive?

Return true if yes, false otherwise :)

In [ ]:
def hero(bullets, dragons):
    print(bullets, dragons)
    dragonsdown = dragons*2
    if bullets>=dragonsdown:
        return True
    return False

Exo 23: Deoxyribonucleic acid, DNA is the primary information storage molecule in biological systems. It is composed of four nucleic acid bases Guanine ('G'), Cytosine ('C'), Adenine ('A'), and Thymine ('T').

Ribonucleic acid, RNA, is the primary messenger molecule in cells. RNA differs slightly from DNA its chemical structure and contains no Thymine. In RNA Thymine is replaced by another nucleic acid Uracil ('U').

Create a function which translates a given DNA string into RNA.

For example:

"GCAT"  =>  "GCAU"
The input string can be of arbitrary length - in particular, it may be empty. All input is guaranteed to be valid, i.e. each input string will only ever consist of 'G', 'C', 'A' and/or 'T'.

In [ ]:
def dna_to_rna(dna):
    rna=''
    for i in dna:
        if i=='A':
            rna+='A'
        elif i=='G':
            rna+='G'
        elif i=='C':
            rna+='C'
        elif i=='T':
            rna+='U'
    return rna

Exo 24 : Make a function that returns the value multiplied by 50 and increased by 6. If the value entered is a string it should return "Error".

In [ ]:
def problem(a):
    if isinstance(a, str):
        return "Error"
    else:
        return a * 50 + 6

Exo 25 : Your classmates asked you to copy some paperwork for them. You know that there are 'n' classmates and the paperwork has 'm' pages.

Your task is to calculate how many blank pages do you need. If n < 0 or m < 0 return 0.

Example:
n= 5, m=5: 25
n=-5, m=5:  0

In [ ]:
def paperwork(n, m):
    if n < 0 or m < 0:
        return 0
    else :
        return n * m

Exo 26: You will be given a list of strings. You must sort it alphabetically (case-sensitive, and based on the ASCII values of the chars) and then return the first value.

The returned value must be a string, and have "***" between each of its letters.

You should not remove or add elements from/to the array.

In [ ]:
def two_sort(array):
    return '***'.join([i for i in sorted(array)[0]])

Exo 27 : Define a method hello that returns "Hello, Name!" to a given name, or says Hello, World! if name is not given (or passed as an empty String).

Assuming that name is a String and it checks for user typos to return a name with a first capital letter (Xxxx).

Examples:

* With `name` = "john"  => return "Hello, John!"
* With `name` = "aliCE" => return "Hello, Alice!"
* With `name` not given
  or `name` = ""        => return "Hello, World!"

In [ ]:
def hello(name=''):
    print(name)
    name = name.capitalize()
    hello = 'Hello, '
    Ptexcla = '!'
    World = 'World'
    if len(name) == 0:
        return hello + World + Ptexcla
    return hello + name + Ptexcla

Exo 28: Task
Given three integers a ,b ,c, return the largest number obtained after inserting the following operators and brackets: +, *, ()
In other words , try every combination of a,b,c with [*+()] , and return the Maximum Obtained (Read the notes for more detail about it)
Example
With the numbers are 1, 2 and 3 , here are some ways of placing signs and brackets:

1 * (2 + 3) = 5
1 * 2 * 3 = 6
1 + 2 * 3 = 7
(1 + 2) * 3 = 9
So the maximum value that you can obtain is 9.

Notes
The numbers are always positive.
The numbers are in the range (1  ≤  a, b, c  ≤  10).
You can use the same operation more than once.
It's not necessary to place all the signs and brackets.
Repetition in numbers may occur .
You cannot swap the operands. For instance, in the given example you cannot get expression (1 + 3) * 2 = 8.

In [ ]:
def expression_matter(a, b, c):
    print(a,b,c)
    result=[a*(b+c), a*b*c, a+b*c, (a+b)*c, a+b+c]
    return max(result)

Exo 29 : Complete the function so that it finds the average of the three scores passed to it and returns the letter value associated with that grade.

Numerical Score	Letter Grade
90 <= score <= 100	'A'
80 <= score < 90	'B'
70 <= score < 80	'C'
60 <= score < 70	'D'
0 <= score < 60	'F'

In [ ]:
def get_grade(s1, s2, s3):
    score=(s1+ s2+ s3)//3
    if 90 <= score <= 100:
        return 'A'
    if 80 <= score < 90:
        return 'B'
    if 70 <= score < 80:
        return 'C'
    if 60 <= score < 70:
        return 'D'
    if 0 <= score < 60:
        return "F"

Exo 30: Given a string of digits, you should replace any digit below 5 with '0' and any digit 5 and above with '1'. Return the resulting string.

Note: input will never be an empty string

In [ ]:
def fake_bin(x):
    result=''
    for i in x:
        if int(i) < 5:
            result+= '0'
        else:
            result += '1'
    return result

Exo 31 : Fix the function
I created this function to add five to any number that was passed in to it and return the new value. It doesn't throw any errors but it returns the wrong number.

Can you help me fix the function?

In [ ]:
def add_five(num):
    return num + 5

In [ ]:
Exo 32: Write function bmi that calculates body mass index (bmi = weight / height2).

if bmi <= 18.5 return "Underweight"

if bmi <= 25.0 return "Normal"

if bmi <= 30.0 return "Overweight"

if bmi > 30 return "Obese"

In [ ]:
def bmi(weight, height):
    bmi=weight/(height**2)
    if bmi<= 18.5 :
        return "Underweight"
    elif  bmi <= 25.0 :
        return "Normal"
    elif  bmi <= 30.0 :
        return "Overweight"
    else:
        return "Obese"