### Python sans utiliser de méthodes.. quelques exemples d'exercices.

Exo 1-
Créer un programme qui filtre une liste de chaines et renvoie une liste contenant le nom de vos amis.
Si un nom contient 4 lettres = nom ami

---

In [3]:
def friend(x):
  ans=[]
  for e in x: 
    if len(e)==4:
      ans.append(e)
  return ans

Vérification de la fonction

In [4]:
x=["Arthur", "Josephine", 'Leo', 'Theo', "Amina", "Paul", "Jerome", "Sofi"]
friend(x)

['Theo', 'Paul', 'Sofi']

Exo2: Les guichets automatiques acceptent les codes PIN à 4 ou 6 chiffres et les codes PIN ne peuvent contenir que 4 chiffres exactement ou 6 chiffres exactement. 
Si la fonction reçoit une chaine valide return True, sinon return False.

In [1]:
def validate_pin(pin):
  for c in pin: 
    if not c in'0123456789':
      return False 
    if len(pin)==4 or len(pin)==6:
      return True 
    else:
      return False

In [5]:
validate_pin('5555')

True

Exo 3: Ecrivez une fonction pour convertir un nom en initiale. La fonction prend deux mots avec un espac entre eux.
La sortie doit être composée de deux lettres majuscules séparées par un point 
ex: Sam Harris : S.H

In [6]:
def abbrev_name(name):
  return ".".join(name[0].upper() for name in name.split())

In [7]:
abbrev_name('Céline Julie')

'C.J'

Exo 4: Le western Suburbs Croquet Club a deux catégaories de membres: Senior et Open. Pour être Senior : A>=55 et handicap<7
Entrée: une liste de paire, chaque paire contient des infos pour un seul membre potentiel 
/
Sortie : une liste de valeur de chaine indiquant si le membre doit être placé dans la catégorie Senior ou Open.

In [17]:
def open_or_senior(data):
  ans=[]
  for (a, b)in data: 
    if a>=55 and b<7:
      ans.append('Senior')
    else:
      ans.append("Open")
  return ans

In [15]:
data=[(60,3), (30,5), (70, 2)]
open_or_senior(data)

['Senior', 'Open', 'Senior']

Exo 5: Il y avait un test dans votre classe et vous l'avez réussi (Bravo). Mais vous voulez savoir si vous étiez meilleur par rapport à la moyenne de classe. On reçoit un tableau avec les résultats des test, et on calcule la moyenne et on compare au score 
Sortie : True si au dessus et False sinon

In [17]:
def better_than_average (classpoints, your_points): 
  classpoints.append(your_points)
  n=0
  somme=0
  for e in classpoints: 
    n+=1
    somme=somme +e 
  if (somme/n)<your_points:
    return True 
  else: 
    return False

In [20]:
classpoints = [80, 75, 90, 95]
your_points = 85
better_than_average(classpoints, your_points)

False

Exo 6: Vous vivez à Cartesia , une ville où toutes les routes sont tracées dans un quadrilatère parfait. Vous êtes arrivé 10 min plus tôt à un rdv et vous avez décidé d'aller vous balader. Une chaîne de lettres représente les directions à suivre (un paté de maison = 1 min)
Créer une fonction qui renvoie True si la balade ==10min et permet de revenir au point de départ.

In [24]:

def is_valid_walk(walk): 
  if len(walk)!=10:
    return False 
  else: 
    x, y =(0,0)
    for e in walk: 
      if e=='n':
        y+= 1 
      elif e=='s':
        y+=-1
      elif e=="w":
        y+=-1
      elif e=="e":
        y+=1
      return (x,y)==(0,0)

In [25]:
walk = ['n', 's', 'n', 's', 'n', 's', 'n', 's', 'n', 's']
is_valid_walk(walk)

False

Exo 7: Ecrivez la fonction persistance qui prend un paramètre un nombre positif et renvoie sa persistance multiplicative (nombre de fois qu'on doit x les chiffres du nombre pour arriver à un seul chiffre)

In [28]:
def persistance(n):
  count=0
  while (len(str(n))>1):
    t=1
    chiffres=[int(i)for i in str(n)]
    for j in chiffres:
      t=t*int(j)
      count+=1
      n=str(t)
      return count

In [29]:
persistance(56)

1

Exo 8: Etant donnée un tableau d'entiers, trouvez celui qui apparait un nombre impair de fois 
Il n'y aura qu'un seul entier qui apparaitra un nombre impair de fois.

In [2]:
def find_it(seq):
  for i in seq: 
    count=0
    for j in seq:
      if i==j:
        count +=1
        if (count % 2 !=0): 
          return i

In [3]:
seq = [1, 2, 2, 1, 3, 3, 4]
find_it(seq)

1

Exo 9: Le carré parfait 
étant donné un nombre entier, déterminer si c'est un carré parfait 
True = oui 
False si non

In [6]:
def is_square(n):
  if n<0:
    return False 
  x=int(n**0.5)
  return (x **2==n)

In [7]:
is_square (59)

False

Exo 10: Suite de Fibonnaci à l'aide d'une boucle for stocker les 100 premiers termes de la suite dans la variable u

In [9]:
u=[0,1]
for e in range(98):
  u.append(u[-1]+ u[-2])
  print(len(u))

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

Exo 11: Compléter le fonction de somme au carré de sorte qu'elle élève au carré chaque nombre qui lui est transmis, puis additionne les résultats ensemble

In [11]:
from re import I
def square_sum(n):
  s=0
  for i in n: 
    s+=i*i 
    return s

In [14]:
square_sum([10])

100

Exo 12: Cette fonction doit tester si [factor] est un factor de base 
True= vrai 
sinon False

In [15]:
def check_for_factor (base, factor):
  if base % factor==0: 
    return True 
  return False

In [16]:
check_for_factor(34,6)

False